@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$purple-palette, 500);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$dark-theme: mat.define-dark-theme($primary, $accent);
@include mat.all-component-themes($dark-theme);
.mat-background-primary {
  background-color: mat.get-color-from-palette($primary);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import "~ng-pick-datetime/assets/style/picker.min.css";
.disable-day {
  .owl-dt-calendar-control-content>.owl-dt-control-period-button {
    pointer-events: none;
    .owl-dt-control-button-arrow {
      display: none;
    }
  }
}

mat-card {
  max-width: 780px;
  margin: 0 auto;
}
